.mobile-image{
  animation: fadeFromTop 5s;
  margin-right: 20px;
}

@media(min-width: $deskopt-size){

  .home-image {
    animation: fadeFromTop 5s;
  }

  .image {
    width: 600px;
    border-radius: 10px;
    margin: 40px 20px;
  }

  .hands-background {
      opacity: 0.06;
      width: 40%;
      z-index: 0;
      position: absolute;
      top: -120%;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .hands-proyects {
      width: 100%;
      transform: rotate(90deg);
      animation: handContact 30s infinite;
    }

    .hands-background-contact {
      opacity: 0.06;
      width: 100%;
      z-index: 0;
      position: absolute;
      top: -25%;
      bottom: 0;
      left: 20%;
      right: 0;
    }

    .hands-contact {
      transform: rotate(90deg);
      width: 60%;
      animation: handsContact 40s infinite;
    }

    .contact-image{
      width: 100%;
    }
  }
